.App-header {
  background-color: #473324;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: antiquewhite 2px solid;
  height: 50px;
}

.navbar {
  text-align: right;
}

.navbar li {
  display: inline-block;
  margin-right: 1 em;
}
