.navbar ul li a {
    max-height: 50px;
    min-height: 50px;
    background-color: #33251a;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: 14px;
    margin-right: 14px;
}

.navbar ul li a:hover {
    color: rgb(155, 207, 95);
    border-bottom: 2px solid rgb(155, 207, 95);
}
