.navbar ul li a {
    max-height: 30px;
    min-height: 30px;
    background-color: #473324;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li a:hover {
    color: rgb(155, 207, 95);
}
